{% extends "base.html.twig" %} {# inherit base template by extending it #}

{% block title %}
    Movies Page
{% endblock %}

{% block body %}
    <h1>
        {%  for movie in movies %}
            <li> {{ movie }}</li>
        {% endfor %}
    </h1>

    {# defining a new super global variable > twig.yaml #}
    {{ author }}
{% endblock %}


